<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">Actualizar información</h6>

        <form class="form-horizontal p-t-20" [formGroup]="hospitalForm" (submit)="guardarHospital()">

          <div class="form-group row" *ngIf="hospitalSeleccionado">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
            <div class="col-sm-9">
              <div class="input-group">
                <img [src]="hospitalSeleccionado.img | imagen: 'hospitales'" class="w500" />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" formControlName="nombre" class="form-control" id="exampleInputuname3"
                  [placeholder]="hospitalSeleccionado.nombre" [value]="hospitalSeleccionado.nombre">
              </div>
            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-0 col-sm-12">
              <button type="submit" class="btn btn-success waves-effect waves-light" (click)="guardarHospital">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>


  </div>
